<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">

<head>
    <title>Erda Tuklasan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Streetchildren" />
	 <meta name="keywords" content="Erda, Streetchildren, Orphanage, NGO, charity, San Juan, Manila, Philippines"/>
    <link href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/720_grid.css" type="text/css" media="screen and (min-width: 720px)">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/986_grid.css" type="text/css" media="screen and (min-width: 986px)">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/1236_grid.css" media="screen and (min-width: 1236px)" >
</head>



<body>



<div class="grid" >

	<div class="row">
	
		<div class="slot-6 feature">
			<a href="/"><img class="option" src="{{ STATIC_URL }}tuklasanlogo.jpg" alt="About us" style="width:50%;"></a>
		
		</div>
		<div class="slot-7 feature">
			<a href="/tuklas/about"><img class="option" src="{{ STATIC_URL }}option.png" style="width:50%;"></a>
		
		</div>
		<div class="slot-8 feature">
			<img class="option" src="{{ STATIC_URL }}newsletter.png" style="width:50%;">
		
		</div>
		<div class="slot-9 feature">
			<img class="option" src="{{ STATIC_URL }}contribute.png" alt="About us" style="width:50%;">
		
		</div>	
		
	</div>
	
	
	<div class="row">
	
		<h1> Programs </h1>
	
	</div>
	



	
</div>
	

	


</body>
</html>
