<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">

<head>
    <title>Erda Tuklasan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Streetchildren" />
	 <meta name="keywords" content="Erda, Streetchildren, Orphanage, NGO, charity, San Juan, Manila, Philippines"/>
    <link href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/720_grid.css" type="text/css" media="screen and (min-width: 720px)">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/986_grid.css" type="text/css" media="screen and (min-width: 986px)">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/1236_grid.css" media="screen and (min-width: 1236px)" >
</head>



<body>

<div class="banner-wrap" style="background-color: #D6EBFF;">

	<div class="row" style="padding-top: 1%; display: inline-block;">
	
		<div class="slot-0-1 feature" >
			<a href="/"><img class = "option" src="{{ STATIC_URL }}title.jpg" style="max-width: 85%; padding-top: 1%;"> </a>
			<p class="intro" style="font-size: 1em;"> Center for Street Children </p>
		</div>
		<div class="slot-2 feature">
			<a href="/tuklas/about"><img class="option" src="{{ STATIC_URL }}option.png" style="max-width:50%;"></a>
		
		</div>
		
		<div class="slot-3 feature">
			<a href="/tuklas/programs"><img class="option" src="{{ STATIC_URL }}programs.png" style="max-width:50%;"></a>
		
		</div>
		<div class="slot-4 feature">
			<img class="option" src="{{ STATIC_URL }}newsletter.png" alt="About us" style="max-width:50%;">
		
		</div>	
		<div class="slot-5 feature">
			<img class="option" src="{{ STATIC_URL }}contribute.png" alt="About us" style="max-width:50%;">
		
		</div>			
	</div>


</div>



<div class="grid" >

{% block content %}



{% endblock %}



	
</div>
	

	


</body>
</html>
